
@font-face {
    font-family: "BadScript";
    src: url("fonts/BadScript-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PalatinoLinotypeItalic";
    src: url("fonts/PalatinoLinotypeItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiveMinutes";
    src: url("fonts/Five Minutes.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gabriola";
    src: url("fonts/Gabriola.ttf");
    font-style: normal;
    font-weight: normal;
}

$screen-xs: 320;
$screen-sm: 640;
$screen-md: 1024;
$screen-lg: 1280;


html, body {
	height: 100%;
	color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	background-image: url(images/bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

body * {
	box-sizing: border-box;
}

.container {
	display: flex;
    position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	max-width: 100%;

	@media (min-width: #{$screen-sm}px) { 
	    width: 480px;
	    padding: 20px;
	    box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.45);
	    border-radius: 25px;
	}
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.blur-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: -746px -200px;
	-webkit-filter: blur(10px);
	filter: url(/media/blur.svg#blur);
	filter: blur(10px);
	overflow: hidden;
	border-radius: 80px;
	@media (min-width: #{$screen-sm}px) { 
		display: block;
	}
}

.logo {
	width: 130%;
	z-index: 100;
	margin-top: -43%;
	@media (min-width : #{$screen-sm}px) {
		width: 680px;
	}
}

.title { 
	font-family: PalatinoLinotypeItalic, sans-serif;
    font-weight: 100;
    font-size: 32px;
	line-height: 100%;
	text-align: center;
	@media (min-width : #{$screen-sm}px) {
		font-size: 38px;
	}
}

.separator{
	display: none;
	width: 100%;
	margin-bottom: -6px;

	@media (min-width : #{$screen-sm}px) {
		display: block;
	}
}

.message {
	font-family: PalatinoLinotypeItalic, sans-serif;
	text-align: center;
	font-size: 22px;
	
	@media (min-width : #{$screen-sm}px) {
		padding: 0 25px;
	}
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 9pt;
	background: url(images/watercolor-line.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px -15px 5px -15px;
    padding-right: 3px;
    padding-left: 3px;
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	p {
		font-size: 18px;
    	margin: 0;
	}
	p:first-child {
		margin-bottom: 20px;
	}
}

.form {
	height: 113px;

	&__content {
		margin: 0 auto;
		display: block;
		width: 95%;
		position: relative;
		box-sizing: border-box;
	}

	&__input {
	    width: 100%;
		border-radius: 30px;
		outline: 0;
		background: #fff;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.11);
		padding: 8px;
		overflow: hidden;
		font-size: 14px;
		text-align: center;
		text-transform: lowercase;
		font-style: italic;
		border: 0 none;
	
		&:focus {
			box-shadow: 0px 0px 7px 0px #FF9DD2;
		}
		
	
		&_invalid {
			border: 1px #ff002a solid;
			box-shadow: 0px 0px 13px 1px rgba(255, 4, 62, 0.59);
		}
		
		&_valid { 
			border: 1px rgba(28, 243, 8, 0.44) solid;
			box-shadow: 0px 0px 13px 1px rgba(59, 204, 42, 0.47);
		}
	
		&:disabled,
		&_valid:disabled,
		&:disabled:hover {
			background-color: rgb(255, 255, 255);
			border: none;
			color: #5f5f5f;
			border: none;
			box-shadow: none;
		}
	}
	
	&__label {
		display: block;
		text-align: center;
		font-family: PalatinoLinotypeItalic;
		font-size: 22px;
		margin-bottom: 10px;
			
		&_success {
			display: none;
			line-height: 85px;
		}
	}

	&__submit {
		color: #333;
		font-family: Gabriola;
		border-radius: 20px;
		background-image: linear-gradient(#f8ddec 0,#efb9d5 100%);
		box-shadow: 0 1px 2px 0 rgba(0,0,0,.36);
		outline: 0;
		border: none;
		margin-top: 10px;
		height: 40px;
		width: 100%;
		font-size: 26px;
		line-height: 43px;
		cursor: pointer;
	
		&:hover {
			background-image: linear-gradient(#ffd5ed 0%, rgb(255, 126, 193) 100%);
		}
		&:hover:active {
			background-image: linear-gradient(#ffd9ef 0%, rgb(234, 37, 140) 100%);
		}
		
		&:disabled,
		&:disabled:hover {
			background-image: linear-gradient(#d2d2d2 0%, #8a8a8a 100%);
		}
	}

	&__loader {
		position: absolute;
		visibility: hidden;
		height: 40px;
	}
}








	