
@font-face {
    font-family: "BadScript";
    src: url("fonts/BadScript-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PalatinoLinotypeItalic";
    src: url("fonts/PalatinoLinotypeItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiveMinutes";
    src: url("fonts/Five Minutes.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gabriola";
    src: url("fonts/Gabriola.ttf");
    font-style: normal;
    font-weight: normal;
}

html {
	height: 100%;
}

body {
	background-image: url(img/bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0;
}
 
h1 { 
	font-family: PalatinoLinotypeItalic;
	font-weight: 100;
    font-size: 24pt;
    margin-bottom: 0px;
    margin-top: 7px;
}

.content {
  	text-align: center;
	box-sizing: border-box;
  	padding: 15px 15px 30px 15px;
  	overflow: hidden;
}

.logo {
	width: 130%;
	margin-left: -16%;
}

.separator{
	width: 100%;
	margin-bottom: -6px;
}

.message {
	font-family: BadScript;
	color: #292929;
	font-size: 12pt;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom:0;
    padding: 0 25px;
}

.info {
	font-family: FiveMinutes;
	font-size: 9pt;
	background: url(img/watercolor-line.png);
	background-repeat: no-repeat;
	background-size: 110% auto;
	margin: 10px -15px 5px -15px;
    padding-right: 3px;
    padding-left: 3px;
}

.contacts {
	float: left;
	width: 52%;
    box-sizing: border-box;
	padding-top: 10px
}

.contacts p {
    display: block;
    margin: 0;
}

.instagram,
.facebook {
	width: 24%;
	margin-top: -2px;
	cursor: pointer;
}

.instagram {  
	float: right;
	margin-top: -4px;
}

.facebook {
	float: left;
}

.email-form {
	height: 113px;
}

.email-block {
	margin: 0 auto;
	display: block;
    width: 95%;
    position: relative;
    box-sizing: border-box;
}

.email {
    width: 100%;
	font-family: Gabriola;
    box-sizing: border-box;
    border-radius: 30px;
    outline: none;
    background: #FFFFFF;
    border: 1px rgba(0, 0, 0, 0) solid;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.11);
    padding: 8px;
    overflow: hidden;
}

.email:focus {
	box-shadow: 0px 0px 7px 0px #FF9DD2;
}

.email-label {
    display: block;
    width: 100%;
    text-align: center;
    font-family: PalatinoLinotypeItalic;
}

.submit {
	color: #333333;
	font-family: Gabriola;
	border-radius: 20px;
    background-image: -webkit-linear-gradient(#F8DDEC 0%, #EFB9D5 100%);
    background-image: -o-linear-gradient(#F8DDEC 0%, #EFB9D5 100%);
    background-image: linear-gradient(#F8DDEC 0%, #EFB9D5 100%);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.36);
    cursor: pointer;
    outline: none;
    border: none;
	margin-top: 10px;
	height: 40px;
	width: 100%;
}

.submit:hover:active {
	background-image: -webkit-linear-gradient(#ffd9ef 0%, rgb(234, 37, 140) 100%);
	background-image: -o-linear-gradient(#ffd9ef 0%, rgb(234, 37, 140) 100%);
	background-image: linear-gradient(#ffd9ef 0%, rgb(234, 37, 140) 100%);
}

.submit:hover {
	background-image: -webkit-linear-gradient(#ffd5ed 0%, rgb(255, 126, 193) 100%);
	background-image: -o-linear-gradient(#ffd5ed 0%, rgb(255, 126, 193) 100%);
	background-image: linear-gradient(#ffd5ed 0%, rgb(255, 126, 193) 100%);
}

.submit:disabled,.submit:disabled:hover {
	background-image: linear-gradient(#d2d2d2 0%, #8a8a8a 100%);
}

.email.valid:disabled,.email:disabled,.email:disabled:hover {
    background-color: rgb(255, 255, 255);
    border: none;
    color: #5f5f5f;
    border: none;
    box-shadow: none;
}

.loader {
	position: absolute;
	visibility: hidden;
	height: 40px;
}

.email-success {
	display: none;
	line-height: 85px;
}

::-webkit-input-placeholder {color:#3F3F3F;}
::-moz-placeholder          {color:#3F3F3F;}/* Firefox 19+ */
:-moz-placeholder           {color:#3F3F3F;}/* Firefox 18- */
:-ms-input-placeholder      {color:#3F3F3F;}

.back {
    z-index: 0;
}
/*VALIDATION-----------------------------------------*/

.email.invalid {
	border: 1px #ff002a solid;
    box-shadow: 0px 0px 13px 1px rgba(255, 4, 62, 0.59);
}

.email.valid { 
	border: 1px rgba(28, 243, 8, 0.44) solid;
    box-shadow: 0px 0px 13px 1px rgba(59, 204, 42, 0.47);
}

/*CLEARFIX-----*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*MEDIA-----------------------------------------*/

@media only screen and (min-width : 320px){

	.info{
		font-size: 120%;
	}
	.contacts {
	    padding-top: 13px;
	}

	.contacts p:first-child {
	    margin-bottom: 2px;
	}

	.email-block {
	    padding: 0 5px 0 5px;
	}

	.email-label {
	    display: block;
	    width: 100%;
	    text-align: center;
	    font-size: 14pt;
	    margin-bottom: 2px;
	}

	.email {
	    height: 40px;
	    font-size: 13pt;
	    text-align: center;
	}

	.submit {

	    font-size: 17pt;
	    position: relative;
	    right: 0;
	    outline: none;
	    padding-top: 6px;
	}
}

@media only screen and (min-width : 360px) { 
	
	.message {
	    font-size: 14pt;
	}

	.submit {
	    padding-top: 4px;
	}
	.contacts {
		padding-top: 17px;
	}

	.contacts p:first-child {
		margin-bottom: 5px;
	}

	.email {
	    font-size: 14pt;
	    padding-top: 12px;
	}
}

@media only screen and (min-width : 412px) {

	h1 {
		font-size: 28pt;
	}

	.info {
		font-size: 18pt;
	}
	.contacts {
		padding-top: 17px;
	}
	.message {
		font-size: 15pt;
		line-height: 30px;
	}
	.email-label {
		font-size: 16pt;
	}
	.email {
		font-size: 15pt;
	}
}

@media only screen and (min-width : 500px) { 
	body {
		padding: 20px;
	}
	.separator{
		width: 100%;
		margin: -5px -5px -10px -5px;
	}

	.logo{
		width: 680px;
		position: absolute;
		left: -110px;
		top: -205px;
		z-index: 100;
		margin-left: 0;
	}

	.content {
		position: relative;
	    width: 480px;
	    margin: 0 auto;
	    margin-top: 200px;
	    padding: 130px 20px 25px 20px;
	    box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.45);
	    border-radius: 25px;
	    overflow: visible;
	}

	.over-blur {
		position: relative;
		z-index:100;
	}

	h1 {
	    font-size: 24pt;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}

	.message {
	    font-size: 14pt;
	    line-height: 34px;
	    margin-top: 0px;
	}

	.blur-bg {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    z-index: 99;
	    background-image: url(img/bg.jpg);
	    background-repeat: no-repeat;
	    background-position: -746px -237px;
	    -webkit-filter: blur(10px);
	    filter: url(/media/blur.svg#blur);
	    filter: blur(10px);
	    overflow: hidden;
	    border-radius: 80px;

	}

	.info {
		margin-left: -20px;
	    margin-right: -20px;
	    padding-right: 5px;
	    padding-left: 5px;
	    font-size: 20pt;
	    background-size: 110%
	}

	.contacts {
		width: 52%;
		float: left;
	    padding-top: 19px;
	    box-sizing: border-box;
	}

	.contacts p:first-child {
		margin-bottom: 5px;
	} 

	.email-form {
	   	margin-top: 13px;
	   	height: 65px;	
	}

	.email-block {
	    padding: 0 5px 0 5px;
	}

	.email {
		height: 40px;
	    font-size: 14pt;
	    padding-top: 12px;
	    padding-left: 14px;
	    text-align: left;
	}

	.loader {
		height: 100%;
	}

	.email-label {
	    font-size: 15pt;
	    margin-bottom: 2px;
	}

	.submit {
		position: absolute;
	    right: 5px;
	    top: 0px;
		width: 100px;
	    height: 40px;
	    padding-top: 8px;
	    margin-top: 0; 
	    font-size: 13pt; 
	}

	.email.valid:disabled,.email:disabled,.email:disabled:hover {
	    padding-left: 40px;
	}

	.email-success {
		font-size: 20pt;
		line-height: 55px;
	}	

}
